*{
  font-family:   'Roboto', sans-serif; ;
}


body{
  background-color: #E5E5E5;
}
input:hover{
  cursor: pointer;
}
.titulo{
  font-size: 26px;
  font-weight: 500;
}
input[type='checkbox']{
  appearance: none;
  height: 18px;
  width: 18px;
  background-color: #535050;
}
input[type='checkbox']::after{
  font-family: 'Material Icons';
  content:'done';
  font-weight: 600;
  font-size:15px;
  text-align: center;
  color: white;
  padding: 0;
  outline: none;
  display: none;
}
input[type='checkbox']:checked::after{
  display: block;
}